body{
    background-color: black;
    color: rgb(214, 211, 17);
    font-family: "parisienne", sans-serif;
    margin: 0px;

}

header{
    border-bottom: double 2px rgb(90, 219, 39);
    padding: 30px;
    font-size: 32x;
    color: rgb(22, 62, 192);
}

section{
    background-color: rgb(253, 251, 142);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;

}

p{
    font-size: 20px;
}